@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #e8eced;
}

.header {
    padding: 80px;
    text-align: center;
    background: white;
    color: white;
}


.header h1 {
    font-size: 40px;
    color: black;
}

.LinkTrail{
    list-style-type: none;
    margin: 0;
    padding: 0.5 rem 0;
    text-overflow: ellipsis;
    color: #929699;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
}
.LinkTrail a{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0.5 rem 0;
    text-overflow: ellipsis;
    color: #929699;
    overflow: hidden;
    white-space: nowrap;
}

.main {   
    flex: 70%;
    background-color: white;
    padding: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}
#text{
display:none;
}
.btn-container{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
a:active{
  color:#ffd323;
}
button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:8px;
  font-size:20px;
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:white;
  font-family:cursive;
  box-sizing:border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.tab{
    background-color: white;
    padding: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block; 
}
th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #edf7fb;
}